<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Orlando_WebApi" setup_version="0.0.2" active="true">
          <sequence>
               <module name="Magento_Webapi" />
               <module name="Magento_Catalog" />
               <module name="Magento_Backend"/>
               <module name="Magento_Ui"/>
          </sequence>
    </module>
</config>